# الأساسيات للسيرفر
gunicorn
eventlet>=0.33.0
flask==2.3.2
flask-socketio==5.3.4
python-socketio==5.9.0
python-engineio==4.7.1

# مكتبات مساعدة
python-dotenv==1.0.0
requests==2.31.0
numpy==1.24.3
cryptography==41.0.1
Pillow==10.0.0

# ملاحظة: المكتبات أدناه قد تفشل في التثبيت على Render 
# لأنها تحتاج واجهة رسومية أو تعريفات صوت، يفضل حذفها إذا لم يكن السيرفر يحتاجها:
# PyQt5==5.15.9
# pynput==1.7.6
# mss==9.0.1
# pyaudio==0.2.13
# pyperclip==1.8.2
